In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
raw1 = pd.read_csv("./지역별_5분_단위_태양광_계량데이터_(2020_01_01 ~ 2020_12_31).csv",encoding="cp949")
raw2 = pd.read_csv("./지역별_5분_단위_태양광_계량데이터_(2021_01_01 ~ 2021_12_31).csv",encoding="cp949")
raw3 = pd.read_csv("./지역별_5분_단위_태양광_계량데이터_(2022_01_01 ~ 2022_12_31).csv",encoding="cp949")
raw4 = pd.read_csv("./지역별_5분_단위_태양광_계량데이터_(2023_01_01 ~ 2023_05_31).csv",encoding="cp949")

In [3]:
raw1.shape

(149328, 16)

In [4]:
data=[]
for rawdata in [raw1,raw2,raw3,raw4]:
    seq = len(data)
    for i in tqdm(range(rawdata.shape[0])):
        data.append(rawdata.iloc[i,1:4])
        data[seq + i]["합계"] = rawdata.iloc[i,4:].sum()

100%|████████████████████████████████████████████████████████████████████████| 149328/149328 [00:58<00:00, 2534.67it/s]
100%|████████████████████████████████████████████████████████████████████████| 148920/148920 [00:58<00:00, 2532.29it/s]
100%|████████████████████████████████████████████████████████████████████████| 148920/148920 [00:58<00:00, 2536.63it/s]
100%|██████████████████████████████████████████████████████████████████████████| 61608/61608 [00:25<00:00, 2455.62it/s]

In [5]:
raw1.shape[0]+raw2.shape[0]+raw3.shape[0]

447168

In [6]:
len(data)

508776

In [7]:
data_df = pd.DataFrame(data)

In [8]:
data_df = data_df.rename(columns={"지역":"loc","거래일":"trade_date","시간":"trade_hour","합계":"value"})

In [9]:
data_df.index = data_df.index+1

In [10]:
data_df

        loc  trade_date  trade_hour         value
1       강원도  2020-01-01           0  1.672513e+05
2       강원도  2020-01-01           1  1.611000e+05
3       강원도  2020-01-01           2  1.551100e+05
4       강원도  2020-01-01           3  1.593211e+05
5       강원도  2020-01-01           4  1.532020e+05
...     ...         ...         ...           ...
61604  충청북도  2023-05-31          19  4.415163e+07
61605  충청북도  2023-05-31          20  4.503076e+07
61606  충청북도  2023-05-31          21  3.783509e+07
61607  충청북도  2023-05-31          22  1.905064e+07
61608  충청북도  2023-05-31          23  4.683698e+06

[508776 rows x 4 columns]

In [11]:
from sqlalchemy import create_engine
import pymysql

In [12]:
engine = create_engine("mysql+pymysql://root:1234@localhost:3306/test?charset=utf8")

In [13]:
conn = engine.connect()

In [14]:
data_df.to_sql(name="photo_generate",con=engine, if_exists="append", index=False)

508776

In [15]:
conn.close()